.box-sizing( @type : border-box ) {
	-webkit-box-sizing: @type;
	   -moz-box-sizing: @type;
	    -ms-box-sizing: @type;
	        box-sizing: @type;
}

.box-shadow( @params : 2px 2px 5px 0 rgba(0,0,0,.5) ) {
	-webkit-box-shadow: @params;
	   -moz-box-shadow: @params;
	        box-shadow: @params;
}

.transition( @params ) {
	-webkit-transition: @params;
	   -moz-transition: @params;
	    -ms-transition: @params;
	     -o-transition: @params;
	        transition: @params;
}